/* variables */
/* shadow size */
:root {
  --shadow-size: 7px;
  --text-color: #4aa2c5;
  --primary-color: #b5eaff;
  --background-color: #e8f9ff;
  --white-color: #fff;
  --red-color: rgb(255, 160, 160);
  --green-color: rgb(160, 255, 160);
  --yellow-color: rgb(255, 255, 160);
  --scale-power: 1.1;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "M PLUS Rounded 1c", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  padding: var(--shadow-size);
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 0 var(--shadow-size) rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#app #titlebar {
  background-color: var(--primary-color);
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
#app #titlebar .dragzone {
  -webkit-app-region: drag;
  overflow: hidden;
  position: absolute;
  right: 70px;
  width: 100%;
  height: 30px;
}
#app #titlebar #menu-buttons {
  display: flex;
  align-items: center;
}
#app #titlebar #menu-buttons .material-symbols-outlined {
  color: var(--white-color);
  font-size: 24px;
}
#app #titlebar #menu-buttons .menu-button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
  overflow: hidden;
}
#app #titlebar #menu-buttons #close-button:hover {
  background-color: var(--red-color);
}
#app #titlebar #menu-buttons #minimize-button {
  margin-right: 3px;
}
#app #titlebar #menu-buttons #minimize-button:hover {
  background-color: var(--white-color) !important;
}
#app #titlebar #menu-buttons #minimize-button:hover .material-symbols-outlined {
  color: var(--primary-color) !important;
}
#app #titlebar .logo {
  font-weight: 800;
  color: var(--white-color);
}
#app #main-content {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  box-sizing: border-box;
}
#app #main-content #leftbar {
  height: 100%;
  min-height: 0;
  background-color: var(--primary-color);
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}
#app #main-content #leftbar #top-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
#app #main-content #leftbar #top-buttons .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
}
#app #main-content #leftbar #top-buttons .circle :hover {
  transform: scale(var(--scale-power));
}
#app #main-content #leftbar #top-buttons .circle .material-symbols-outlined {
  color: var(--white-color);
  font-size: 40px;
}
#app #main-content #leftbar #sticker-pack-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  gap: 10px;
  scroll-snap-type: y mandatory;
}
#app #main-content #leftbar #sticker-pack-list .sticker-pack-icon {
  cursor: pointer;
  max-width: 100px;
  scroll-margin: 50px;
}
#app #main-content #leftbar #sticker-pack-list .sticker-pack-icon :hover, #app #main-content #leftbar #sticker-pack-list .sticker-pack-icon.active {
  transform: scale(var(--scale-power));
  outline: 4px dashed var(--white-color);
}
#app #main-content #leftbar #sticker-pack-list .sticker-pack-icon img {
  max-width: 100%;
  max-height: 150px;
}
#app #main-content #leftbar #sticker-pack-list .sticker-pack-icon .material-symbols-outlined {
  color: var(--white-color);
  font-size: 40px;
}
#app #main-content #sticker-list {
  flex: 1;
  padding: 10px;
  overflow: scroll;
}
#app #main-content #sticker-list .sticker-pack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  padding: 5px 0px;
}
#app #main-content #sticker-list .sticker-pack .sticker-pack-header {
  grid-column: 1/-1;
  gap: 10px;
}
#app #main-content #sticker-list .sticker-pack .sticker-pack-header a {
  color: var(--text-color);
  margin: 0;
  font-weight: 700;
  text-decoration: none;
}
#app #main-content #sticker-list .sticker-pack .sticker-pack-header .sticker-pack-title {
  float: left;
  margin-left: 10px;
  font-size: 28px;
}
#app #main-content #sticker-list .sticker-pack .sticker-pack-header .sticker-pack-author {
  float: right;
  margin-right: 10px;
  font-weight: 500;
  font-size: 20px;
}
#app #main-content #sticker-list .sticker-pack .sticker {
  height: 150px;
  width: 150px;
}
#app #main-content #sticker-list .sticker-pack .sticker img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}
#app #main-content #sticker-list .sticker-pack .sticker img:hover {
  transform: scale(var(--scale-power));
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.modal-background .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 650px;
  height: 150px;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.modal-background .modal div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.modal-background .modal .inputbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--white-color);
}
.modal-background .modal .inputbox input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 0 20px;
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  background-color: transparent;
  outline: none;
}
.modal-background .modal #add-sticker-button {
  background-color: var(--green-color);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.modal-background .modal #add-sticker-button .material-symbols-outlined {
  color: var(--white-color);
  font-size: 50px;
}
.modal-background .modal #add-sticker-button:hover {
  transform: scale(1.05);
}
.modal-background .modal #add-sticker-button:active {
  transform: scale(0.95);
}
.modal-background .modal #add-sticker-button:disabled {
  background-color: var(--gray-color);
  cursor: not-allowed;
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
.modal-background .modal #add-sticker-button.error {
  background-color: var(--red-color);
  animation: shake 0.2s ease-in-out 0s 2;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}